Source: ros-indigo-rospilot
Section: misc
Priority: extra
Maintainer: Christopher Berner <christopherberner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libavcodec-dev, libavformat-dev, libavutil-dev, libgphoto2-dev, libnl-dev, libswscale-dev, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-roslint, ros-indigo-rospilot-deps, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-rospilot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dnsmasq, gdal-bin, hostapd, mapnik-utils, osm2pgsql, postgresql-9.3-postgis-2.1, postgresql-contrib-9.3, postgresql-server-dev-9.3, python-cherrypy3, python-colorama, python-mapnik2, python-psutil, ros-indigo-geometry-msgs, ros-indigo-message-runtime, ros-indigo-rosbash, ros-indigo-rosbridge-suite, ros-indigo-roslaunch, ros-indigo-rospilot-deps, ros-indigo-rospy, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs, tilestache
Description: rospilot
